{% set distro_requires %}
  <name op="=" value="RHEL-8.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set host_requires %}
  <or>
    <labcontroller op="=" value="lab01.example.com"/>
    <labcontroller op="=" value="lab02.example.com"/>
    <labcontroller op="=" value="lab03.example.com"/>
  </or>
{% endset %}
{% set ks_append %}
<ks_append><![CDATA[
%post
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://example.com/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
EOF
%end
]]></ks_append>
{% endset %}
